.highlight{
  background: blue;
}

h1 {
  text-align: center;
}

.heading {
  font-size: 24px;
  color: green;
  background-color:black;
}

.heading2 {
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: red;
  background-color:white;
  border: none;
}


.buttonCorrect {
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: black;
  background-color:white;
  border: none;
}
.buttonWrong {
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: black;
  background-color:white;
  border: none;
}
